/* FONTS */
@font-face {
    font-family: "Bebas_Neue";
    src: url("fonts/BebasNeue-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("fonts/Manrope-Bold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("fonts/Manrope-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --spacing: 1rem;
	font-family: 'Manrope';
    font-weight: 400;
	font-size: 115%;
    scroll-behavior: smooth;
    color: var(--black);

    /* VERIABLES */

    --black: #212121;
    --white: #F6F6F6;
    --green: #ADFF87;
    --gray: #747474;
}

body {
    background-color: var(--black);
    padding: 0rem;
    font-size: 0.75rem;
}

header {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
    width: 100%;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: var(--green);
}

ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

article {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1rem;
}

.cover {
    background-image: url("img/design-through-obsticles.jpg");
	background-size: cover;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100svh;
}

div{}

.author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.article-number {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.article-subtext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: end;
}

.note {
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
}

.square-blk {
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--black);
}

.rectangle-grn {
    margin-block-start: 0.3rem;
    width: 0.625rem;
    height: 3.35rem;
    background-color: var(--green);
}

.divider {
    width: 100%;
    height: 0.625rem;
    background-color: var(--green);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100svh;
}

figure {
    display: block;
    margin-block-start: 3.188rem;
    overflow: visible;
    width: 100%;
}

img {
    background-color: var(--black);
    display: block;
    width: 100%;
    object-position: top center;
}

footer {}

/* CONTENT TYPE */
h1 {
    font-family: 'Bebas_Neue';
    font-weight: 400;
    font-size: 3rem;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
    width: 100%;
}

h2 {
    font-family: 'Bebas_Neue';
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: -2%;
    color: var(--white);
}

aside {}

p { 
    font-weight: 400;
    font-size: 0.875rem; /* bulk size */
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--white);
    padding-inline-start: 3em;
    text-indent: -3em;
}

.footnote {
    font-weight: 600;
    color: var(--green);
    padding-left: 0em;
    text-indent: 0em;
    width: 95%;
}

.footnote-top,
.footnote-bottom {
    font-size: 0.875rem;
    color: var(--black);
    padding-left: 0em;
    text-indent: 0em;
}

.footnote-top { margin-block-start: -0.25rem; }
.footnote-bottom { 
    margin-block-end: -0.2rem;
    width: 95%;
}

.quote {
    font-family: 'Bebas_Neue';
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 105%;
    letter-spacing: -2%;
    padding-inline-start: 0em;
    text-indent: 0em;
    color: var(--white);
    margin-inline-start: -1rem;
}

.quote-mark {
    font-family: 'Bebas_Neue';
    font-weight: 400;
    font-size: 6.5rem;
    line-height: 100%;
    letter-spacing: -2%;
    padding-inline-start: 0em;
    text-indent: 0em;
    color: var(--green);
    margin-inline-start: -0.25rem;
    margin-block-start: -2rem;
}

strong {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--green);
}

span {}

blockquote {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    margin-block-end: 1rem;
}

a:link {  
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-decoration-thickness: 0.125rem;

}

a:hover {
    color: var(--green);
}

a:visited {
    color: var(--gray);
    text-decoration-color: var(--gray);
}