*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* neutral base */
    --off-white: #FAFAFA; 
    --charcoal: #2d2d2d;
    --neutral-grey: #898989;
}

body {
    padding: 2.5rem;
    background-color: var(--off-white);
}

a:link {  
    text-decoration: underline;
}

a:hover {
    color: var(--neutral-grey);
}