*, *::before, *::after {
    box-sizing: border-box;
}

:root {

    --spacing: 1rem;
	font-size: 125%;
    scroll-behavior: smooth;

    
    /* neutral base */
    --off-white: #fafafa; 
    --charcoal: #2d2d2d;
    --neutral-grey: #898989;
}

body {
    padding: 2.5rem;
    background-color: var(--off-white);
}

a:link {  
    text-decoration: underline;
}

a:hover {
    color: var(--neutral-grey);
}