.hero {
    display: flex;
    width: 100%;
    height: 100svh;
    align-items: flex-end;
    padding-block: var(--xsmall);
}

/* ==================== HERO HEADER GRID SYSTEM ==================== */
.grid {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: repeat(6, auto);
    justify-items: start;
    align-items: start;
    width: 100%;

    @media (width > 1000px) {
        grid-template-columns: 40% max-content 1fr; 
    }

    @media (width > 1200px) {
        grid-template-columns: 50% max-content 1fr; 
    }
}

.cell-1 { grid-column: 1; grid-row: 1; }
.cell-2 { grid-column: 2; grid-row: 1; }
.cell-3 { grid-column: 3; grid-row: 1; justify-self: end; }
.cell-4 { grid-column: 3; grid-row: 2; }

.hide {
    display: none;

    @media (width > 800px) {
        display: initial; 
    }
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100svh;
    align-items: flex-end;
    padding-block: var(--xsmall);
    gap: 0.625rem;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50svh;
    padding: 0rem;
    gap: var(--null);
    align-items: flex-end;
    background-color: transparent;

    @media (width > 900px) {
        gap: var(--xsmall);
        flex-direction: row;
    }
}

.colophon h1, 
.colophon p {
    font-weight: 400;
    font-size: var(--footnote);
    line-height: 140%;
    color: var(--white);
    margin-block-end: -0.3rem;
}

.colophon {
    display: flex;
    flex-direction: column;
    gap: var(--xsmall);
}

.left, .right {
    display: flex;
    flex-direction: column;
    
    @media (width > 900px) {
        flex-direction: row;
    }

}

.left {
    width: 100%;

    @media (width > 900px) {
        width: 30%;
    }

}

.right {
    width: 100%;
    height: 100%;

    @media (width > 900px) {
        width: 70%;
    }
}

.right .picture {
    align-items: flex-end;
}

picture {
    display: flex;
    flex-direction: column;
    margin-inline-start: 18%;
    height: 100%;
    align-items: flex-end;
}

.cta {
    display: grid;
    gap: 0.625rem;
    width: 100%;
    height: 100%;  
}

.cta li {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cta li:nth-child(1) {
    background-color: #1FE333;
    margin-inline-start: 18%;
}

.cta li:nth-child(2) {
    background-color: #FF8000;
    margin-inline-end: 14%;
}

.cta li:nth-child(3) {
    background-color: #5704EB;
    margin-inline-start: 8%;
    margin-inline-end: 5%;
}

.name-1,
.name-2,
.name-3 {
    line-height: 100%;
    color: var(--black);
    margin-inline-end: 1rem;
}

.name-1 { font-size: clamp(1.5rem, 4vw, 3rem); }
.name-2 { font-size: clamp(1.5rem, 4vw, 4rem); }
.name-3 { font-size: clamp(1.5rem, 6vw, 6rem); }

.article-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.article-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(0.5rem, 2vw, 1rem); /* ATTENTION */
}

.article-card svg {
    height: 100%; 
    width: auto;
    flex-shrink: 0;
    display: block;
}

.article-card svg .arrow {
    transform-origin: center;
    transition: transform 0.2s ease;
}

.article-link:hover svg .arrow {
    transform: rotate(45deg);
}

.left a.white {
    display: none;

    @media (width > 900px) {
        display: initial;
        width: fit-content
    }
}