/* ==================== HERO HEADER GRID SYSTEM ==================== */
/* .grid {

    @media (width > 1000px) {
        grid-template-columns: 40% max-content 1fr; 
    }

    @media (width > 1200px) {
        grid-template-columns: 50% max-content 1fr; 
    }
}

.cell-1 { grid-column: 1; grid-row: 1; }
.cell-2 { grid-column: 2; grid-row: 1; }
.cell-3 { grid-column: 3; grid-row: 1; justify-self: end; }
.cell-4 { grid-column: 3; grid-row: 2; }

.hide {
    display: none;

    @media (width > 800px) {
        display: initial; 
    }
} */

/* ==================== MAIN WRAPPERS ==================== */
main {
    padding-inline: var(--xsmall);
    display: flex;
    flex-direction: column;
    gap: var(--xsmall);
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100svh;
    gap: 0.625rem;
    padding-block: var(--xsmall);
    padding-block-start: 6rem;

    @media (width > 600px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-block-start: 7rem;
    }

    @media (width > 900px) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    @media (width > 1200px) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
}

.intro, .content {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 0rem;
    gap: var(--null);
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;

    @media (width > 900px) {
        height: 100%;
    }
}

.intro {
    overflow: hidden;
    height: 100svh;

    @media (width > 900px) {
        width: 72%;
        height: 100%;
    }

    @media (width > 1200px) {
        width: 66%;
        height: 100%;
    }
}

.content {
    display: flex;
    align-items: flex-end;

    @media (width > 900px) {
        width: 28%;
        padding-inline-end: var(--xsmall);
    }

    @media (width > 1200px) {
        width: 34%;
        padding-inline-end: var(--xsmall);
    }
}

/* ==================== COLOPHON ==================== */
.intro h1 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 110%;
    letter-spacing: -2%;
    width: 100%;
    color: var(--white);

    @media (width > 600px) {
        font-size: 1rem;
        line-height: 120%;
        letter-spacing: -2%;
        width: 80%;
    }

    @media (width > 900px) {
        font-size: 1.25rem;
        line-height: 110%;
        letter-spacing: -2%;
        width: 68%;
    }

    @media (width > 1200px) {
        font-size: 1.5rem;
        line-height: 110%;
        letter-spacing: -2%;
        width: 70%;
    }
}

/* ==================== LOGOTYPE ==================== */
.logotype {
    font-family: "Inter";
    font-weight: 200;
    font-size: clamp(2.25rem, calc(1rem + 11.8vw), 11.8rem);
    text-transform: uppercase;
    color: var(--white);
    display: inline-flex;
    align-items: flex-end;
    transform-origin: left bottom;
    margin-inline-start: -0.17em;
    margin-block-end: -0.02em;
    display: inline-flex;

    @media (width > 900px) {
        font-size: clamp(2.5rem, calc(1rem + 6vw), 7rem);
        display: inline-flex;
    }

    @media (width > 1000px) {
        font-size: clamp(2.5rem, calc(1rem + 6vw), 7rem);
        display: inline-flex;
    }

    @media (width > 1200px) {
        font-size: clamp(2.5rem, calc(1rem + 8vw), 9rem);
        display: inline-flex;
    }
}

.ltr {
    display: inline-block;
    line-height: 1; 
    font-stretch: 100%;
    transform-origin: left bottom;
}

.logotype .ltr:nth-child(1) {
    transform: scale(1.7, 3.5);
    margin-block-end: -0.46em;
}

.logotype .ltr:nth-child(2) {
    transform: scale(2, 2);
    margin-block-end: -0.03em;
}

.logotype .ltr:nth-child(3) {
    transform: scale(3, 2);
    margin-block-end: -0.23em;
}

.logotype .ltr:nth-child(4) {
    transform: scale(1.75, 2.5);
    padding-inline: calc((2.4 - 1) * 0.5em);
    margin-block-end: -0.32em;
}

.logotype .ltr:nth-child(5) {
    transform: scale(1.75, -2);
    padding-inline: calc((1.3 - 1) * 0.5em);
    margin-block-end: 1.76em;
}

.logotype .ltr:nth-child(6) {
    transform: scale(1.7, 3.45);
    padding-inline: calc((1.3 - 1) * 0.5em);
    margin-block-end: -0.41em;
}

/* ==================== BOOK BUTTONS ==================== */
.cta {
    display: grid;
    gap: 0.625rem;
    width: 100%;
    height: 100%;  
    
    @media (width > 900px) {
        display: grid;
        grid-auto-flow: column;
        width: max-content;
        height: 100%; 
        gap: var(--small);
    }
    @media (width > 1000px) {
        display: grid;
        grid-auto-flow: column;
        width: max-content;
        height: 100%; 
        gap: var(--medium);
    }
}

.cta li {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: var(--xsmall);

    @media (width > 900px) {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        display: flex;
        justify-content: flex-end;
        transition: transform 0.55s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

.cta li:nth-child(1) {
    background-color: var(--green);
    margin-inline-start: 0%;
    margin-inline-end: 0%;

    @media (width > 900px) {
        transform: rotate(180deg) rotate(17deg);
        margin-inline-start: 18%;
        margin-inline-end: 0%;
    }
}

.cta li:nth-child(2) {
    background-color: var(--orange);
    margin-inline-start: 0%;
    margin-inline-end: 0%;

    @media (width > 900px) {
        transform: rotate(180deg) rotate(11deg);
        margin-inline-start: 14%;
        margin-inline-end: 0%;
    }
}

.cta li:nth-child(3) {
    background-color: var(--purple);
    margin-inline-start: 0%;
    margin-inline-end: 0%;

    @media (width > 900px) {
        transform: rotate(180deg) rotate(4deg);
        margin-inline-start: 8%;
        margin-inline-end: 0%;
    }
    
}

.cta li:hover {
    @media (width > 900px) {
        transform: rotate(180deg);
    }
}

.art-1,
.art-2,
.art-3 {
    line-height: 100%;
    color: var(--black);
    margin-inline-start: var(--xsmall);
    font-size: 1.1rem;
}

.art-3 {
    color: var(--white);
}

@media (width > 600px) {
        .art-1 { font-size: clamp(1.1rem, 1rem + 2.6vw, 2.6rem); }
        .art-2 { font-size: clamp(1rem, 1rem + 2.1vw, 2.2rem); }
        .art-3 { font-size: clamp(1.4rem, 1rem + 2.8vw, 3rem); }
    }

.article-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.article-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

footer {
    height: auto;
}

.wrapper {
    gap: var(--xsmall);
}

.wrapper a {
    color: var(--white);
    
}

.wrapper a:hover {
    color: var(--purple);
    
}

.next-article {
    align-items: flex-start;
    gap: var(--large);


    @media (width > 900px) {
        padding-block-start: var(--large);
        padding-inline-end: var(--large);
    }
}

.next-article .wrapper {
    align-items: flex-start;
}

.doppelganger {
    display: flex;
    flex-direction: column;
    padding-inline: var(--xsmall);
    padding-block-end: var(--xsmall);
    gap: var(--xsmall);
}




