.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100svh;
    align-items: flex-end;
    padding-block: var(--xsmall);
    position: relative;
}

figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--null); /* No paddinga for heropage */

    @media (width > 900px) {
        position: static; /* Make it static */
    }
}

/* ==================== HERO HEADER GRID SYSTEM ==================== */
.grid {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: repeat(6, auto);
    justify-items: start;
    align-items: start;
    width: 100%;

    @media (width > 1000px) {
        grid-template-columns: 40% max-content 1fr; 
    }

    @media (width > 1200px) {
        grid-template-columns: 50% max-content 1fr; 
    }
}

.cell-1 { grid-column: 1; grid-row: 1; }
.cell-2 { grid-column: 2; grid-row: 1; }
.cell-3 { grid-column: 3; grid-row: 1; justify-self: end; }
.cell-4 { grid-column: 3; grid-row: 2; }

.hide {
    display: none;

    @media (width > 800px) {
        display: initial; 
    }
}

.colophon {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-block-start: var(--xsmall);
    padding-inline-end: var(--xsmall);
    position: absolute;
    background-color: var(--black);
    z-index: 1;
}

h1, p {
    font-weight: 400;
    font-size: var(--body);
    line-height: 140%;
    color: var(--white);
}