/* ==================== HERO HEADER GRID SYSTEM ==================== */
.grid {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: repeat(6, auto);
    justify-items: start;
    align-items: start;
    width: 100%;

    @media (width > 1000px) {
        grid-template-columns: 40% max-content 1fr; 
    }

    @media (width > 1200px) {
        grid-template-columns: 50% max-content 1fr; 
    }
}

.cell-1 { grid-column: 1; grid-row: 1; }
.cell-2 { grid-column: 2; grid-row: 1; }
.cell-3 { grid-column: 3; grid-row: 1; justify-self: end; }
.cell-4 { grid-column: 3; grid-row: 2; }

.hide {
    display: none;

    @media (width > 800px) {
        display: initial; 
    }
}

/* ==================== MAIN WRAPPERS ==================== */
main {
    padding-inline: var(--xsmall);
    display: flex;
    flex-direction: column;
    gap: var(--xsmall);
}


article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100svh;
    gap: 0.625rem;
    padding-block: var(--xsmall);
    padding-block-start: 6rem;

    @media (width > 600px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-block-start: 8rem;
    }

    @media (width > 900px) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-block-start: 8rem;

    @media (width > 1200px) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-block-start: 8rem;
    }
    }
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;  
    padding: 0rem;
    gap: var(--null);
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
}

.intro {
    width: 100%;
    overflow: hidden;
    height: 100svh;

    @media (width > 900px) {
        width: 72%;
        height: 100%;
    }

    @media (width > 1200px) {
        width: 66%;
        height: 100%;
    }
}

.content {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding-inline-end: var(--large);

    @media (width > 900px) {
        width: 28%;
        padding-inline-end: var(--xsmall);
    }

    @media (width > 1200px) {
        width: 34%;
        padding-inline-end: var(--xsmall);
    }
}

/* ==================== COLOPHON ==================== */
.intro h1 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: -2%;
    width: 100%;
    color: var(--white);
    text-transform: uppercase;

    @media (width > 600px) {
        font-size: 1.25rem;
        line-height: 110%;
        letter-spacing: -2%;
        width: 68%;
    }

    @media (width > 900px) {
        font-size: 1.25rem;
        line-height: 110%;
        letter-spacing: -2%;
        width: 68%;
    }

    @media (width > 1200px) {
        font-size: 1.5rem;
        line-height: 110%;
        letter-spacing: -2%;
        width: 70%;
    }
}

/* ==================== LOGOTYPE ==================== */
.logotype {
    font-family: "Inter";
    font-weight: 200;
    font-size: clamp(2.25rem, calc(1rem + 11.8vw), 11.8rem);
    text-transform: uppercase;
    color: var(--white);
    display: inline-flex;
    align-items: flex-end;
    transform-origin: left bottom;
    margin-inline-start: -0.17em;
    margin-block-end: -0.02em;
    display: inline-flex;
    /* display: none; */

    @media (width > 900px) {
        font-size: clamp(2.5rem, calc(1rem + 6vw), 7rem);
        display: inline-flex;
    }

    @media (width > 1000px) {
        font-size: clamp(2.5rem, calc(1rem + 6vw), 7rem);
        display: inline-flex;
    }

    @media (width > 1200px) {
        font-size: clamp(2.5rem, calc(1rem + 8vw), 9rem);
        display: inline-flex;
    }
}

.ltr {
  display: inline-block;
  line-height: 1; 
  font-stretch: 100%;
  transform-origin: left bottom;
}

.logotype .ltr:nth-child(1) {
    transform: scale(1.7, 3.5);
    margin-block-end: -0.46em;
}

.logotype .ltr:nth-child(2) {
    transform: scale(2, 2);
    margin-block-end: -0.03em;
}

.logotype .ltr:nth-child(3) {
    transform: scale(3, 2);
    margin-block-end: -0.23em;
}

.logotype .ltr:nth-child(4) {
    transform: scale(1.75, 2.5);
    padding-inline: calc((2.4 - 1) * 0.5em);
    margin-block-end: -0.32em;
}

.logotype .ltr:nth-child(5) {
    transform: scale(1.75, -2);
    padding-inline: calc((1.3 - 1) * 0.5em);
    margin-block-end: 1.76em;
}

.logotype .ltr:nth-child(6) {
    transform: scale(1.7, 3.45);
    padding-inline: calc((1.3 - 1) * 0.5em);
    margin-block-end: -0.41em;
}

/* ==================== BOOK BUTTONS ==================== */
.cta {
    display: grid;
    grid-auto-flow: column;
    gap: 1.6rem;
    width: max-content;
    height: 100%; 

    @media (width > 900px) {
        gap: var(--medium);
    }
}

.cta li {
    writing-mode:vertical-rl;
    text-orientation: mixed;
    display: flex;
    justify-content: flex-end;
    padding: clamp(0.4rem, 0.3rem + 1vw, 0.75rem);
    transition: transform 0.55s cubic-bezier(.34, 1.56, .64, 1);
}

.cta li:nth-child(1) {
    background-color: var(--green);
    transform: rotate(180deg) rotate(23deg);
    margin-inline-start: 18%;

    @media (width > 900px) {
        transform: rotate(180deg) rotate(17deg);
    }
}

.cta li:nth-child(2) {
    background-color: #FF8000;
    transform: rotate(180deg) rotate(17deg);
    margin-inline-start: 14%;

    @media (width > 900px) {
        transform: rotate(180deg) rotate(11deg);
    }
}

.cta li:nth-child(3) {
    background-color: var(--purple);
    transform: rotate(180deg) rotate(10deg);
    margin-inline-start: 8%;

    @media (width > 900px) {
        transform: rotate(180deg) rotate(4deg);
    }
    
}

.cta li:hover {
    transform: rotate(180deg);
}

.art-1,
.art-2,
.art-3 {
    line-height: 100%;
    color: var(--black);
    margin-inline-end: var(--xsmall);
}

.art-1 { font-size: clamp(1rem, 4vw, 2.5rem); }
.art-2 { font-size: clamp(1rem, 4vw, 2rem); }
.art-3 { font-size: clamp(1rem, 6vw, 3rem); }

.article-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.article-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}