
figure {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (width > 900px) {
        width: 100%;
        top: none;
        align-items: flex-end;
        padding-inline-start: var(--null);
        padding-block: var(--null);
        height: 100svh;
    }
}

img {
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100svh;
    align-items: end;
    padding-block: var(--xsmall);

    @media (width > 900px) {
        height: 100svh;
    }
}

/* ==================== HEADER GRID SYSTEM ==================== */
.grid {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: repeat(6, auto);
    justify-items: start;
    align-items: start;
    width: 100%;

    @media (width > 900px) {
        grid-template-columns: 50% max-content 1fr; 
    }
}

.cell-1 { grid-column: 1; grid-row: 1; }
.cell-2 { grid-column: 2; grid-row: 1; }
.cell-3 { grid-column: 3; grid-row: 1; justify-self: end; }
.cell-4 { grid-column: 3; grid-row: 2; }

.hide {
    display: none;

    @media (width > 900px) {
        display: block; 
    }
}