.stress {
    width: 100%;
    padding: var(--small);
    padding-block: var(--xlarge);
    gap: var(--large);
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    border: var(--btn-border) solid var(--white);
}

.quote {
    font-family: "Roboto";
    font-weight: 600;
    font-size: var(--callout);
    line-height: 100%;
    letter-spacing: -2%;
    text-decoration: none;

    @media (width > 600px) {
        width: 80%;
        line-height: 105%;
    }
}

