h1 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: var(--display);
    line-height: 100%;
    letter-spacing: -2%;

    @media (width > 400px) {
        font-size: 3.5rem;
    }

    @media (width > 600px) {
        font-size: var(--display);
    }
}