body {
    background-color: var(--black);
    padding: var(--null);
}

/* ==================== HEADER CONTAINERS ==================== */
.menu {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: transparent;
    color: var(--black);
    padding: var(--xsmall);
}

nav {
    align-items: flex-start;
}

/* ==================== HEADER GRID SYSTEM ==================== */
.grid {
    display: grid;
    grid-template-columns: max-content 1fr; /* First column widht always adjust to its content*/
    grid-template-rows: repeat(4, auto); /* 4 rows */
    justify-items: start; /* base setup */
    align-items: start; /* base setup */
    width: 100%;
}

.cell-1 { grid-column: 1; grid-row: 1; justify-self: start; }
.cell-2 { grid-column: 2; grid-row: 1; justify-self: end;   }
.cell-3 { grid-column: 1; grid-row: 2; justify-self: start; }
.cell-4 { grid-column: 2; grid-row: 2; justify-self: start; }

/* ==================== GENERIC CONTAINERS ==================== */
header,
article {
    gap: var(--xsmall);
    padding-inline: var(--xsmall);
}

header {
    padding-block-start: var(--xsmall);
}

article {
    padding-block-start: var(--xsmall);
    
    @media (width > 900px) {
        padding-block-start: var(--null);
    }
}

section {
    width: 100%;
    background-color: var(--white);
    padding: var(--small);
    gap: var(--large);
    align-items: center;
}

/* ==================== MAIN COLUMNS VISUAL SETUP ==================== */
main {
    display: flex;
    flex-direction: column;

    @media (width > 900px) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: relative;
    }
}

figure {
    display: block;
    width: 100%;

    @media (width > 900px) {
        width: 50%;
        position: sticky;
        top: var(--null);
        align-items: flex-end; /* sticky to the <main> top */
        padding-inline-start: var(--xsmall);
        padding-block: var(--xsmall);
        height: 100svh;
    }
}

.article-body {
    width: 100%; /* scrollable part of  desktop */
    
    @media (width > 900px) {
        width: 50%;
    }
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: bottom center;
}

.hero {
    display: flex;
    width: 100%;

    @media (width > 900px) {
        height: 100svh;
        padding-block-end: var(--xsmall);
    }
}

.display{ /* Article title and subtitle wrapper */
    gap: var(--medium);
}

.source { /* Author and year */
    width: 100%;
}

.heading { /* Text part of the Cover */
    justify-content: space-between;
    height: 100%;

    @media (width > 600px) {
        padding: var(--xlarge);
    }

    @media (width > 900px) {
        padding: var(--xlarge);
    }
}

/* ==================== TEXT STYLING ==================== */
h1 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: var(--display);
    line-height: 100%;
    letter-spacing: -2%;
}

h2 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: var(--headline);
    line-height: 100%;
    letter-spacing: -2%;
    width: 100%;
}

p {
    font-weight: 400;
    font-size: var(--body);
    line-height: 140%;
    /* color: var(--dark-gray); */
}

.marker { /* Pixel Style for any font */
    font-family: "Chava";
    font-weight: 400;
}

.note { /* Smaller Text Element */
    color: var(--gray);
    font-size: var(--footnote);
}

.subtitle { /* Bold Support Text */
    font-family: "Roboto";
    font-weight: 400;
    font-size: var(--title);
    line-height: 110%;
    letter-spacing: -2%;

    @media (width > 900px) {
        line-height: 120%;
    }
}

/* ==================== CITATION ==================== */
blockquote {
    width: 100%;
    align-items: center;
    text-wrap: balance;
}

.quote {
    font-family: "Roboto";
    font-weight: 600;
    font-size: var(--callout);
    line-height: 100%;
    letter-spacing: -2%;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 1.313rem;
    text-underline-offset: -1.15rem;
    text-decoration-skip-ink: none;

    @media (width > 600px) {
        width: 80%;
        line-height: 105%;
        text-decoration-thickness: 2.15rem;
        text-underline-offset: -1.75rem;
    }

    @media (width > 900px) {
        width: 80%;
        line-height: 105%;
        text-decoration-thickness: 2.05rem;
        text-underline-offset: -1.7rem;
    }
}

/* ==================== LINKS AND BUTTONS ==================== */
a {
    color: var(--black);
    text-decoration: underline;
    text-decoration-color: var(--purple);
    text-decoration-thickness: 0.125rem;

    &:hover {
        color: var(--purple);
        text-decoration-color: var(--purple);
    }

    &.purple,
    &.white {
        display: flex;
        font-size: var(--footnote);
        padding-inline: 0.375rem;
        padding-block: 0.25rem;
        text-decoration: none;

        @media (width > 600px) {
            padding-inline: 0.65rem;
            padding-block: 0.5rem;
        }

        @media (width > 900px) {
            padding-inline: 0.5rem;
            padding-block: 0.35rem;
        }
    }

    &.purple {
        background-color: var(--purple);
        color: var(--white);
        border: var(--btn-border) solid var(--purple);
    }

    &.white {
        background-color: var(--white);
        color: var(--black);
        border: var(--btn-border) solid var(--white);
    }

    &.white:hover,
    &.purple:hover {
        background-color: var(--black);
        color: var(--white);
        border: var(--btn-border) solid var(--white);
    }
}

/* ==================== UTILITIES ==================== */
.fl-cl { 
    display: flex;
    flex-direction: column;
}

.fl-rw { 
    display: flex;
    flex-direction: row;
}

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }