figure {
    filter: hue-rotate(-106deg) saturate(1.05) brightness(2);
}

header, main {
    a {
        text-decoration-color: var(--green);

        &:hover {
            color: var(--green);
            text-decoration-color: var(--green);
        }

        &.purple {
            background-color: var(--green);
            color: var(--black);
            border: var(--btn-border) solid var(--green);
        }

        &.white {
            background-color: var(--white);
            color: var(--black);
            border: var(--btn-border) solid var(--white);
        }

        &.white:hover,
        &.purple:hover {
            background-color: var(--black);
            color: var(--white);
            border-color: var(--white);
        }
    }
}

.summary {
    padding: var(--xsmall);
    padding-block: var(--large);
    background-color: var(--white);
    color: var(--black);
    border: 0.125rem solid rgba(13, 13, 13, 0.1);
}

.summary::before {
    background-image:
        linear-gradient(to right,rgba(13, 13, 13, 0.1) 1px, transparent 0.063rem),
        linear-gradient(to bottom, rgba(13, 13, 13, 0.1) 1px, transparent 0.063rem);
}

.warning {
    color: var(--black);
    background-color: var(--green);
}