/* .grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(4, auto);
    justify-items: start;
    align-items: start;
    width: 100%;

    @media (width > 900px) {
        width: 100%;
    }
}

.cell-1 { grid-column: 1; grid-row: 1; justify-self: start; }
.cell-2 { grid-column: 2; grid-row: 1; justify-self: end;   }
.cell-3 { grid-column: 1; grid-row: 2; justify-self: start; }
.cell-4 { grid-column: 2; grid-row: 2; justify-self: start; } */

figure {
    filter: hue-rotate(-106deg) saturate(1.05) brightness(2);
}

header, main {
    a {
        text-decoration-color: var(--green);

        &:hover {
            color: var(--green);
            text-decoration-color: var(--green);
        }

        &.purple {
            background-color: var(--green);
            color: var(--black);
            border: var(--btn-border) solid var(--green);
        }

        &.white {
            background-color: var(--white);
            color: var(--black);
            border: var(--btn-border) solid var(--white);
        }

        &.white:hover,
        &.purple:hover {
            background-color: var(--black);
            color: var(--white);
            border-color: var(--white);
        }
    }
}



.loop {
    width: 100%;
    overflow: hidden;
    background-color: var(--green);
}

/* Внутренняя лента */
.track {
    display: flex;
    width: max-content;     /* ширина по контенту */
    animation: marquee 6s linear infinite;
    will-change: transform; /* помогает сгладить дергания */
}

/* Сам блок (паттерн, текст, что угодно) */
.item {
    min-width: 300px;       /* примерная ширина блока */
    height: 80px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/* Ключевая магия: сдвигаем ленту ровно на половину её длины */
@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

