/* FONTS */
@font-face {
    font-family: "Perfectly Nineties";
    src: url("fonts/PerfectlyNineties-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
	font-family: 'Geist';
    font-weight: 400;
	font-size: 105%;
    scroll-behavior: smooth;
    color: var(--black);

    /* VARIABLES */
    --black: #2E2E2E;
    --white: #FAFAFA
}

body {
    background-color: var(--white);
    padding: 0rem;
}

header {
    position: fixed;
    width: 100%;
}

section, header, footer {
    padding: 0.875rem;
}

ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

main > article:nth-child(2) {
  margin-top: -2.75rem; /* компенсируем gap только между 1 и 2 */
}

article {
    overflow: hidden;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100svh;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3.375rem;
    justify-content: flex-end;
    margin-block-start: -10rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 3.375rem;
}

figure {
    display: block;
    margin-block-start: 3.188rem;
    overflow: visible;
    width: 100%;
}

img {
    background-color: var(--black);
    display: block;
    width: 100%;
    object-position: top center;
    /* background-color: transparent; */
}
/* DIV */
.title {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.source {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.citation {
    position: relative;
    display: inline-flex;
    align-items: center;
    align-content: center;
    margin-block-start: 1.75rem;
    margin-block-end: 2.5rem;
    margin-inline-start: 1rem;
    margin-inline-end: 2rem;


    @media (width > 900px) {
    width: 50%;
    height: 20rem;
    }
}

.bulk {
    display: flex;
    flex-direction: column;
    gap: 2.125rem;
}

.citation blockquote:nth-child(2),
.citation blockquote:nth-child(3),
.citation blockquote:nth-child(4) { position: absolute; }

.citation blockquote:nth-child(1) {
    transform: rotate(-20deg);
}
.citation blockquote:nth-child(2) { 
    color: rgba(0, 0, 0, 0.06);
    transform: rotate(-10deg);
    font-size: 2.75rem;
}
.citation blockquote:nth-child(3) { 
    color: rgba(0, 0, 0, 0.04);
    transform: rotate(10deg);
    font-size: 2.75rem;
}
.citation blockquote:nth-child(4) { 
    color: rgba(0, 0, 0, 0.02);
    transform: rotate(20deg);
    font-size: 2.75rem;
}

footer {}

/* CONTENT TYPE */
h1 {
    font-family: 'Perfectly Nineties';
    font-weight: 400;
    font-size: 4rem;
    line-height: 90%;
    letter-spacing: -2%;
}

h2 {
    font-family: 'Perfectly Nineties';
    font-weight: 400;
    font-size: 3rem;
    line-height: 100%;
    letter-spacing: -2%;
}

aside {
    /* font-family: 'Geist'; */
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: -2%;
}

p { 
    /* font-family: 'Geist'; */
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0%;
    text-indent: 2em;
}

.align-left {
    text-align: left;
    text-indent: 0em;
}

.align-center {
    text-align: center;
    text-indent: 0em;
}

.align-right {
    text-align: right;
    text-indent: 0em;
}

span {
    text-transform: uppercase;
}

.highlight {
    font-weight: 600;
}

.highlight::before { 
    content: '{ ';
}

.highlight::after {  
    content: ' }';
    }

blockquote {
    font-family: 'Perfectly Nineties';
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

a:link {  
    text-decoration: underline;
}

a:hover {
    color: var(--neutral-grey);
}