/* FONTS */
@font-face {
    font-family: "Perfectly Nineties";
    src: url("fonts/PerfectlyNineties-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: aquamarine;
}


header {}

nav {}

ol {}

li {}

main {}

article {}

section {}

footer {}

/* CONTENT TYPE */
h1 {}

h2 {}

aside {}

p {}

span {}

blockquote {}

a:link {  
    text-decoration: underline;
}

a:hover {
    color: var(--neutral-grey);
}