/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto_Mono";
    src: url("fonts/RobotoMono-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Chava";
    src: url("fonts/Chava-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --spacing: 1rem;
	font-family: 'Roboto_Mono';
    font-weight: 400;
	font-size: 125%;
    scroll-behavior: smooth;
    color: var(--black);

    /* VERIABLES */
    --purple: #5704EB;
    --black: #0A0A0A;
    --white: #FAFAFA;
    --gray: #747474
}

/* CONTAINERS TYPE */
body {
    background-color: var(--black);
    padding: 0rem;
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    padding: 0.5rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ol {
    display: flex;
    flex-direction: row;
    width: 100%;
}

li {
    font-size: 0.75rem; /* footnote size */
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 0.5rem;
}

article {
    background-color: var(--white);
    padding: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.source {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block-end: 1rem;
}

footer {}

/* CONTENT TYPE */
h1 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
}

.marker {
    font-family: "Chava";
    font-weight: 400;
}

h2 {}

aside {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 110%;
    letter-spacing: -2%;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 0.875rem; /* bulk size */
    line-height: 140%;
    letter-spacing: -3%;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center, .note {
    text-align: center;
}

.note {
    color: var(--gray);
    font-size: 0.75rem; /* footnote size */
}

span {}

blockquote {}

a:link {  
    text-decoration: underline;
}

a:hover {
    color: var(--neutral-grey);
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.line-1,
.line-2 {
    display: flex;
    width: 100%;
}

.line-1 { justify-content: flex-end; }
.line-2 { justify-content: flex-start; }