/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto_Mono";
    src: url("fonts/RobotoMono-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Chava";
    src: url("fonts/Chava-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --spacing: 1rem;
	font-family: 'Roboto_Mono';
    font-weight: 400;
	font-size: 125%;
    scroll-behavior: smooth;
    color: var(--black);

    /* VERIABLES */

    --black: #0A0A0A;
    --white: #FAFAFA;
    --gray: #747474;

    --purple: #5704EB;
    --yellow: #D5FF9D
}

/* CONTAINERS TYPE */
body {
    background-color: var(--black);
    padding: 0rem;
}

header {
    background-color: var(--white);
    padding: 1rem;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: transparent;
    color: var(--black);
    padding: 0.5rem;
}

nav {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 0.5rem;
    padding-block-start: 0.5rem;
}

article {
    background-color: var(--white); /* THERE SHOULD BE ONLY 1 ARTICLE AND MORE SECTIONS. THATS CORRECT SEMANTICALLY */
    padding: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.source {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block-end: 1rem;
}

footer {}

/* CONTENT TYPE */
h1 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
}

.marker {
    font-family: "Chava";
    font-weight: 400;
}

h2 {}


p {
    font-weight: 400;
    font-size: 0.875rem; /* bulk size */
    line-height: 140%;
    letter-spacing: -3%;
}

.subtitle {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 110%;
    letter-spacing: -2%;
    text-align: center;
}

.quote {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 1.313rem;
    text-underline-offset: -1.15rem;
    text-decoration-skip-ink: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center, .note {
    text-align: center;
}

.note {
    color: var(--gray);
    font-size: 0.75rem; /* footnote size */
}

blockquote {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-block-start: 1rem;
}

/* LINKS */
a:link {  
    color: var(--black);
    text-decoration: underline;
    text-decoration-color: var(--purple);
    text-decoration-thickness: 0.125rem;
}

a:hover {
    color: var(--purple);
    text-decoration-color: var(--purple);
}

a:visited {
    text-decoration-color: var(--gray);
}

a.purple,
a.white {
    display: flex;
    font-size: 0.75rem; /* footnote size */
    padding-inline: 0.375rem;
    padding-block: 0.25rem;
    text-decoration: none;
}

a.purple {
    background-color: var(--purple);
    color: var(--white);
    border: 0.063rem solid var(--purple);
}

a.white {
    background-color: var(--white);
    color: var(--black);
    border: 0.063rem solid var(--white);
    
}

a.white:hover,
a.purple:hover {
    background-color: var(--black);
    color: var(--white);
    border: 0.063rem solid var(--white);
}

.grid {
    display: grid;
    grid-template-columns: max-content 1fr; /* First column widht always adjust to its content*/
    grid-template-rows: repeat(4, auto); /* 4 rows */
    width: 100%;
    justify-items: start; /* base setup */
    align-items: start; /* base setup */
}


/* Cell positioning */
.cell-1 { grid-column: 1; grid-row: 1; }
.cell-2 { grid-column: 2; grid-row: 1; }
.cell-3 { grid-column: 1; grid-row: 2; }
.cell-4 { grid-column: 2; grid-row: 2; }


/* Cell alignment */
.cell-1 { justify-self: start; }
.cell-2 { justify-self: end;}
.cell-3 { justify-self: start;}
.cell-4 { justify-self: start;}

/* PREVIOS FLEX VERSION */
/* .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.btn-box,
.line-1,
.line-2 {
    display: flex;
}

.line-1,
.line-2 {
    width: 100%;
}

.line-1 { justify-content: flex-end; }
.line-2 { justify-content: flex-start; } */