.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100svh;
    align-items: flex-end;
    padding-block: var(--xsmall);
}


/* ==================== HEADER GRID SYSTEM ==================== */
.grid {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: repeat(6, auto);
    justify-items: start;
    align-items: start;
    width: 100%;

    @media (width > 1000px) {
        grid-template-columns: 40% max-content 1fr; 
    }

    @media (width > 1200px) {
        grid-template-columns: 50% max-content 1fr; 
    }
}

.cell-1 { grid-column: 1; grid-row: 1; }
.cell-2 { grid-column: 2; grid-row: 1; }
.cell-3 { grid-column: 3; grid-row: 1; justify-self: end; }
.cell-4 { grid-column: 3; grid-row: 2; }

.hide {
    display: none;

        @media (width > 800px) {
        display: initial; 
    }
}

.pixel {
    width: 6px;
    height: 6px;
    background: #fff;
    position: absolute;
    top: -50px;
    animation: fall 2s linear infinite;
}

/* Pixel Group that start immediately */
.pixel.g1:nth-child(1) { left: 15%; animation-delay: 0s; }
.pixel.g1:nth-child(2) { left: 30%; animation-delay: 0.2s; }
.pixel.g1:nth-child(3) { left: 60%; animation-delay: 0.5s; }
.pixel.g1:nth-child(4) { left: 45%; animation-delay: 0s; }
.pixel.g1:nth-child(5) { left: 80%; animation-delay: 0.2s; }
.pixel.g1:nth-child(6) { left: 25%; animation-delay: 0.5s; }
.pixel.g1:nth-child(7) { left: 55%; animation-delay: 0s; }
.pixel.g1:nth-child(8) { left: 40%; animation-delay: 0.2s; }
.pixel.g1:nth-child(9) { left: 70%; animation-delay: 0.5s; }
.pixel.g1:nth-child(10) { left: 35%; animation-delay: 0.5s; }
.pixel.g1:nth-child(11) { left: 98%; animation-delay: 0s; }
.pixel.g1:nth-child(12) { left: 65%; animation-delay: 0.2s; }
.pixel.g1:nth-child(13) { left: 50%; animation-delay: 0.5s; }
.pixel.g1:nth-child(14) { left: 35%; animation-delay: 0s; }
.pixel.g1:nth-child(15) { left: 55%; animation-delay: 0.2s; }

/* Pixel Group that start in 1 second after group 1 */
.pixel.g2:nth-child(4) { left: 20%; animation-delay: 1s; }
.pixel.g2:nth-child(5) { left: 50%; animation-delay: 1.3s; }
.pixel.g2:nth-child(6) { left: 70%; animation-delay: 1.5s; }

@keyframes fall {
    to {
        transform: translateY(calc(100vh + 40px));
        opacity: 0;
    }
}